<!--<h2>Parceiros</h2>-->

<div class="page page-table" data-ng-controller="ParceirosCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Parceiros</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form>
                                <input type="text"
                                       placeholder="Search..."
                                       class="form-control"
                                       data-ng-model="searchKeywords"
                                       data-ng-keyup="search()">
                            </form>

                        </div>
                        <div class="col-sm-8 col-xs-6 filter-result-info">
                            <!--<span>-->
                            <!--Mostrando {{parceirosFiltered.length}}/{{parceiros.length}} parceiros-->
                            <!--</span>-->
                            <md-checkbox> Fornecedores</md-checkbox>
                            <md-checkbox ng-checked="searchClientes()"> Clientes</md-checkbox>
                            <md-checkbox> Prestadores de Servi&ccedilos</md-checkbox>
                            <md-checkbox> Outros</md-checkbox>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                        <tr>
                            <th>
                                <div class="th">
                                    Nome
                                    <span class="fa fa-angle-up"
                                          data-ng-click=" order('nome') "
                                          data-ng-class="{active: row == 'nome'}"></span>
                                    <span class="fa fa-angle-down"
                                          data-ng-click=" order('-nome') "
                                          data-ng-class="{active: row == '-nome'}"></span>
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Cidade
                                    <span class="fa fa-angle-up"
                                          data-ng-click=" order('cidade') "
                                          data-ng-class="{active: row == 'cidade'}"></span>
                                    <span class="fa fa-angle-down"
                                          data-ng-click=" order('-cidade') "
                                          data-ng-class="{active: row == '-cidade'}"></span>
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Estado
                                    <span class="fa fa-angle-up"
                                          data-ng-click=" order('estado') "
                                          data-ng-class="{active: row == 'estado'}"></span>
                                    <span class="fa fa-angle-down"
                                          data-ng-click=" order('-estado') "
                                          data-ng-class="{active: row == '-estado'}"></span>
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Tipo de Parceria
                                    <span class="fa fa-angle-up"
                                          data-ng-click=" order('tipo_parceria') "
                                          data-ng-class="{active: row == 'tipo_parceria'}"></span>
                                    <span class="fa fa-angle-down"
                                          data-ng-click=" order('-tipo_parceria') "
                                          data-ng-class="{active: row == '-tipo_parceria'}"></span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="parceiro in parceirosCurrent">
                            <td>{{parceiro.nome}}</td>
                            <td>{{parceiro.cidade}}</td>
                            <td>{{parceiro.estado}}</td>
                            <td>{{parceiro.tipo_parceria}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                <span>
                Show
                <select data-ng-model="numPerPage"
                        data-ng-options="num for num in numPerPageOpt"
                        data-ng-change="onNumPerPageChange()">
                </select>
                entries per page
                </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm"
                                            ng-model="currentPage"
                                            total-items="parceirosFiltered.length"
                                            max-size="4"
                                            ng-change="select(currentPage)"
                                            items-per-page="numPerPage"
                                            rotate="false"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                            boundary-links="true"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>

</div>
